<launch>
  <include file="$(find parloma_interaction)/launch/demo_vision.launch" />
  <!-- <include file="$(find parloma_visualization)/launch/visualization.launch" /> -->
  <include file="$(find parloma_driver)/launch/demo_hand.launch" />
  <include file="$(find parloma_driver)/launch/demo_voice.launch" />
</launch>
