<launch>
  <group ns = "parloma">
    <param name="signs_topic" value="signs_topic" />
    <param name="skeleton_topic" value="skeleton_topic" />
    <param name="serial_topic" value="serial_topic" />

    <node name="sign_recognizer_node" pkg="sign_recognizer" type="sign_recognizer.py">
      <param name="classifier" value="/Users/ludus/Downloads/RF64/forest-2layerint-x64.pkl" />
    </node>

    <node name="hand_driver" pkg="arduino_hand_driver" type="hand_driver.py" >
    </node>

    <node pkg="rosbag" type="play" name="player" output="screen" args="/Users/ludus/hydro_ws/src/parloma/parloma_hand/sign_recognizer/bags/2014-10-21-14-30-22.bag">
      <remap from="/skeleton_topic" to="/parloma/skeleton_topic"/>
    </node>
  </group>
</launch>
