<launch>
  <group ns = "parloma">
    <param name="signs_topic" value="signs_topic" />
    <param name="serial_topic" value="serial_topic" />
    <param name="skeleton_topic" value="/skeleton_topic" />

    <node name="sign_recognizer_node" pkg="sign_recognizer" type="sign_recognizer.py">
      <param name="classifier" value="/Users/ludus/Downloads/RF64/forest-2layerint-x64.pkl" />
    </node>


    <node name="hand_driver" pkg="arduino_hand_driver" type="hand_driver.py" />
    <node name="serial_comm" pkg="serial_bridge" type="serial_node.py">
      <param name="baudrate" value="9600"/>
      <param name="port" value="/dev/tty.usbmodem1421" />
    </node>
  </group>
  <group ns = "ieiit">
    <param name="skeleton_topic" value="/skeleton_topic" />
    <node name="skeleton_extractor" pkg="sign_recognizer" type="skeleton_extractor.py" output = "screen">
      <param name="forest" value="/Users/ludus/develop/parloma/robotcontrol/RF/forest-1layer.xml" />
    </node>
  </group>
</launch>
