<launch>
  <group ns = "interaction">
    <param name="signs_topic" value="/signs_topic" />
    <param name="skeleton_topic" value="/skeleton_topic" />
    <param name="serial_topic" value="/serial_topic" />

    <node name="sign_recognizer" pkg="parloma_interaction" type="sign_recognizer.py">
      <param name="classifier" value="$(find parloma_interaction)/xml/RF64/forest-2layerint-x64.pkl" />
    </node>

    <node pkg="rosbag" type="play" name="player" output="screen" args="$(find parloma_interaction)/bags/test.bag">
    </node>
  </group>
</launch>
