<launch>
  <group ns = "interaction">
    <param name="signs_topic" value="/signs_topic" />
    <param name="skeleton_topic" value="/skeleton_topic" />

    <node name="parloma_interaction_node" pkg="parloma_interaction" type="sign_recognizer.py">
      <param name="classifier" value="$(find parloma_interaction)/xml/forest-2layer-Beppe-REST.pkl" />
      <param name="signs_list" value="$(find parloma_interaction)/xml/SIGNS_LIST.pkl" />
    </node>
    
    <node name="parloma_driver_node" pkg="parloma_driver" type="sign2command.py">
        <param name="xml_hand" value="$(find parloma_driver)/xml/robot_hand.xml" />
        <param name="xml_signs" value="$(find parloma_driver)/xml/signs2pose.xml" />
        <param name="xml_commands" value="$(find parloma_driver)/xml/commands_list.xml" />
    </node>    
    
  </group>
  <group ns = "ieiit">
    <param name="skeleton_topic" value="/skeleton_topic" />
    <node name="skeleton_extractor" pkg="parloma_interaction" type="skeleton_extractor.py" output = "screen">
      <param name="forest" value="$(find parloma_interaction)/xml/forest-1layer.xml" />
    </node>
  </group>
</launch>
