<launch>
  <group ns = "parloma">
    <param name="signs_topic" value="signs_topic" />
    <param name="serial_topic" value="serial_topic" />
    <param name="skeleton_topic" value="/skeleton_topic" />

    <node name="hand_driver" pkg="arduino_hand_driver" type="index_control.py" />
    <node name="serial_comm" pkg="serial_bridge" type="hand_ctr.py">
      <param name="baudrate" value="9600"/>
      <param name="port" value="/dev/tty.usbmodem1421" />
    </node>
  </group>
  <group ns = "ieiit">
    <param name="skeleton_topic" value="/skeleton_topic" />
    <node name="skeleton_extractor" pkg="parloma_interaction" type="skeleton_extractor.py" output = "screen">
      <param name="forest" value="$(find parloma_interaction)/xml/forest-1layer.xml" />
    </node>
  </group>
</launch>
