<launch>
  <group ns = "parloma">
    <param name="signs_topic" value="signs_topic" />
    <param name="serial_topic" value="serial_topic" />
    <param name="skeleton_topic" value="/skeleton_topic" />

    <node name="hand_driver" pkg="arduino_hand_driver" type="index_control.py"  output = "screen"/>

  </group>
  <group ns = "ieiit">
    <param name="skeleton_topic" value="/skeleton_topic" />
    <node name="skeleton_extractor" pkg="sign_recognizer" type="skeleton_extractor.py" output = "screen">
      <param name="forest" value="/Users/ludus/develop/parloma/robotcontrol/RF/forest-1layer.xml" />
    </node>
  </group>
</launch>
